
<h1>新しい投稿</h1>

<%= form_for :post, url: posts_path do |f| %>
<div>
 <p>
 	<div>
     	<%=f.label :title,"タイトル" %> 		
 	</div>
    <div>
       　　<%=f.text_field :title %>	 
    </div>
 </p>	
</div>

<div>
 <p>
 	<div>
       <%=f.label :text, "内容"%>		
   	</div>
    <div>
       <%=f.text_area :text,cpls:60, row: 8 %>   	
    </div>

 
 </p>	
</div>

<div>
 <p>
	<%=f.submit %>
 </p>	
</div>
<%end%>