
<h1>新しい投稿</h1>

<%= form_for :post, url: posts_path do |f| %>

<p>
	<%=f.label :title,"タイトル" %>
　　<%=f.text_field :title %>
</p>

<p>
   <%=f.label :text, "内容"%>
   <%=f.text_area :text,cpls:60, row: 8 %>
</p>

<p>
	<%=f.submit %>
</p>

<%end%>